<div class="container">
  <h1>Todo List</h1>
  <hr />

  <form #taskForm="ngForm">
    <div class="form-group">
      <label for="Task">Task</label>

      <input
        type="Task"
        class="form-control"
        id="Task"
        placeholder="Enter task"
        [(ngModel)]="taskName"
        name="task"
        required
      />

      <small
        *ngIf="taskForm.invalid && taskForm.dirty"
        id="errorMessage"
        class="form-text text-danger"
        >required field.</small
      >
    </div>
    <br />
    <button
      [disabled]="taskForm.invalid"
      (click)="addTask(taskName)"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Completed</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskList">
          <th [ngClass]="{ 'completed-task': task.isCompleted }">
            {{ task.taskName }}
          </th>
          <td>
            <input
              id="myCheckbox"
              [(ngModel)]="task.isCompleted"
              (change)="completedTask(task)"
              type="checkbox"
            />
          </td>
          <td>
            <button (click)="deleteTask(task)" class="btn btn-danger btn-sm">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
